{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block content
%}

<!-- Hero Start -->
<section class="bg-home-4 section" id="home">
  <div class="bg-overlay-black"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <p class="home-heading-title">#1 Startup Accelerator</p>

        <h1 class="home-title mt-3 text-white">
          We help startups launch their products
        </h1>

        <p class="home-desc text-white-50 mt-4">
          Are you ready to accelerate your startup with Ideas Kenya?
        </p>
        <a
          href="{{ url_for('new') }}"
          class="btn btn-primary rounded-pill me-2 mt-5"
          >Startup Application</a
        >
      </div>
    </div>
  </div>
</section>
<!-- Hero End -->

<!-- START SERVICES -->
<section class="section" id="services">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="title-box text-center">
          <h6 class="title-sub-title mb-0 text-primary">How we work</h6>
          <h3 class="title-heading mt-3">
            How Ideas Kenya turns your startup into a business
          </h3>
        </div>
      </div>
    </div>

    <div class="row mt-5 pt-4">
      <div class="col-lg-4">
        <div class="service-box text-center uim-icon-primary mt-4">
          <div class="service-icon icon-xxl mx-auto">
            <i class="uim uim-cube"></i>
          </div>
          <h5 class="f-18 mt-4">Pitch Your Startup</h5>

          <div class="service-border mt-4 mx-auto"></div>

          <p class="text-muted mt-3 mb-0">
            In less than 400 words, you shall describe your startup and if it
            passes the setup guides that a startup is supposed to pass
          </p>

          <a href="">
            <div class="read-more mt-3">
              <span class="arrow text-dark">&#8594;</span>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="service-box text-center uim-icon-primary mt-4">
          <div class="service-icon icon-xxl mx-auto">
            <i class="uim uim-layer-group"></i>
          </div>
          <h5 class="f-18 mt-4">Investor Review</h5>

          <div class="service-border mt-4 mx-auto"></div>

          <p class="text-muted mt-3 mb-0">
            Credibly brand standards compliant users without extensible
            services. Anibh euismod laoreet.
          </p>

          <a href="">
            <div class="read-more mt-3">
              <span class="arrow text-dark">&#8594;</span>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="service-box text-center uim-icon-primary mt-4">
          <div class="service-icon icon-xxl mx-auto">
            <i class="uim uim-briefcase"></i>
          </div>
          <h5 class="f-18 mt-4">Funding and Guidance</h5>

          <div class="service-border mt-4 mx-auto"></div>

          <p class="text-muted mt-3 mb-0">
            Separated they live in Bookmarksgrove right at the coast of the
            Semantics, a large necessary regelialia.
          </p>

          <a href="">
            <div class="read-more mt-3">
              <span class="arrow text-dark">&#8594;</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END SERVICES -->

<!-- START FEATURES -->

<section class="section bg-light overflow-hidden" id="features">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="features-1 mt-4">
          <img src="../static/images/features/img-1.png" alt="" />
        </div>
      </div>

      <div class="col-lg-6">
        <div class="features-box mt-4">
          <h3>An online delivery platform for liquor businesses</h3>

          <p class="text-muted mt-3">
            SoftIQ has been incredibly successful in the B2C market. And when
            market research and analysis showed growth potential in the B2B
            market, SOftIQ decided to extend the existing application to
            capitalize on the opportunity. The Sentient Africa design and
            development team helped the company build an additional app module
            that would prepare it for a new B2B strategy and empower SoftIQ’s
            administrators to manage their users with more flexibility. Today,
            SOftIQ supports lots of vendors in the liquor business from South B,
            Westlands, Adams, Kilimani, Garden Estate, and Lang'ata.
          </p>

          <div class="mt-4">
            <a href="">
              <div class="read-more mt-3">
                <span class="arrow text-dark">&#8594;</span>
              </div>
            </a>
          </div>

          <div class="row mt-4">
            <div class="col-lg-6">
              <div class="mt-4">
                <div class="uim-icon-primary mt-4">
                  <div class="features-icon icon-xl">
                    <i class="uim uim-window-section"></i>
                  </div>
                </div>

                <h5 class="f-18 mt-4">2.2M</h5>
                <p class="text-muted mt-2">Monthly Users</p>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="mt-3">
                <div class="uim-icon-primary mt-4">
                  <div class="features-icon icon-xl">
                    <i class="uim uim-chart-pie"></i>
                  </div>
                </div>

                <h5 class="f-18 mt-4">KES. 5.1M</h5>
                <p class="text-muted">Secured Funding</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5 pt-5 align-items-center">
      <div class="col-lg-6">
        <div class="mt-4">
          <h3 class="w-75">
            Good living properties secured
            <span class="text-primary">KES. 2.4M</span> Serie A
          </h3>

          <p class="text-muted mt-4">
            It took Good living properties less than 6 months to build its
            platform, scale up, and accumulate close to KES. 2m in extra funds
            from saving up cost on extra services
          </p>

          <div class="row">
            <div class="col-md-6">
              <div class="mt-4">
                <h2>KES. 5.2 M+</h2>
                <h5 class="text-primary mb-0 f-16">In Revenue</h5>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mt-4">
                <h2>530+</h2>
                <h5 class="text-primary mb-0 f-16">Paying Businesses</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="features-2 mt-4">
          <img src="../static/images/features/img-2.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END FEATURES -->

<!-- START TESTIMONIAL -->
<section class="section" id="testimonial">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="title-box text-center">
          <h6 class="title-sub-title mb-0 text-primary">Our Testimonial</h6>
          <h3 class="title-heading mt-3">
            Some reviews from our past startups
          </h3>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-lg-12">
        <h1
          class="client-title-main text-center d-none d-xl-block text-uppercase"
        >
          Client Love
        </h1>
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="testi-box text-center mt-4">
                <div class="client-icon">
                  <i class="mdi mdi-format-quote-open"></i>
                </div>

                <h4 class="line-height_1_6 fw-normal mt-3">
                  “I feel confident imposing change on myself. It's a lot more
                  fun progressing than looking back. That's why scelerisque
                  pretium dolor, sit amet vehicula erat pelleque need throw
                  curve balls.”
                </h4>
              </div>
            </div>

            <div class="carousel-item">
              <div class="testi-box text-center mt-4">
                <div class="client-icon">
                  <i class="mdi mdi-format-quote-open"></i>
                </div>
                <h4 class="line-height_1_6 fw-normal mt-3">
                  “Our task must be to free ourselves by widening our circle of
                  compassion to embrace all living creatures Integer varius
                  lacus non magna tempor congue natuasre the whole its beauty.”
                </h4>
              </div>
            </div>

            <div class="carousel-item">
              <div class="testi-box text-center mt-4">
                <div class="client-icon">
                  <i class="mdi mdi-format-quote-open"></i>
                </div>
                <h4 class="line-height_1_6 fw-normal mt-3">
                  “I've learned that people will forget what you said, people
                  will forget what you did, but people will never aliquam in
                  nunc quis tincidunt forget how you vestibulum egestas them
                  feel.”
                </h4>
              </div>
            </div>
          </div>

          <div class="carousel-indicators mt-5 pt-4">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active text-start"
              aria-current="true"
              aria-label="Slide 1"
            >
              <div class="d-flex p-2">
                <img
                  src="../static/images/users/img-1.jpg"
                  alt=""
                  class="testi-img img-fluid rounded-circle"
                />

                <div class="flex-1 ps-3">
                  <h5 class="f-18 mb-1 text-dark">Harry Odhiambo</h5>
                  <p class="text-muted f-15 mb-0">Turn App - Designer</p>
                </div>
              </div>
            </button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              class="text-start"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            >
              <div class="d-flex p-2">
                <img
                  src="../static/images/users/img-2.jpg"
                  alt=""
                  class="testi-img img-fluid rounded-circle"
                />

                <div class="flex-1 ps-3">
                  <h5 class="f-18 mb-1 text-dark">Somebody Name</h5>
                  <p class="text-muted f-15 mb-0">Hallar - CEO</p>
                </div>
              </div>
            </button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              class="text-start"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            >
              <div class="d-flex p-2">
                <img
                  src="../static/images/users/img-3.jpg"
                  alt=""
                  class="testi-img img-fluid rounded-circle"
                />

                <div class="flex-1 ps-3">
                  <h5 class="f-18 mb-1 text-dark">Tedd Inspires</h5>
                  <p class="text-muted f-15 mb-0">Proper Bookings - Manager</p>
                </div>
              </div>
            </button>
          </div>

          <div class="d-none d-lg-inline-block">
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END TESTIMONIAL -->

<!-- START CONTACT -->
<section class="section" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="title-box text-center">
          <h6 class="title-sub-title mb-0 text-primary">Contact Us</h6>
          <h3 class="title-heading mt-3">Have more queries in mind?</h3>
        </div>
      </div>
    </div>

    <div class="row align-items-center mt-5 pt-2">
      <div class="col-lg-5">
        <div class="mt-4">
          <h3>Let's talk about everything!</h3>
          <p class="text-muted mt-2">
            Don't like forms? Send us an
            <a href="mailto:ideaskenya@gmail.com" class="text-primary fw-normal"
              ><u>Email</u></a
            >
          </p>

          <div class="mt-4 pt-1 w-75">
            <div class="d-flex mt-3">
              <i class="mdi mdi-map-marker text-primary f-20"></i>
              <div class="flex-1 ps-3">
                <p class="text-muted mb-0">
                  La Colline Gardens, Kilimani, Masaba Rd, Nairobi
                </p>
              </div>
            </div>

            <div class="d-flex mt-3">
              <i class="mdi mdi-phone text-primary f-20"></i>
              <div class="flex-1 ps-3">
                <p class="text-muted mb-0">+254 700 001 806</p>
              </div>
            </div>

            <div class="d-flex mt-3">
              <i class="mdi mdi-email text-primary f-20"></i>
              <div class="flex-1 ps-3">
                <p class="text-muted mb-0">ideaskenya@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="custom-form">
          <form method="post" action="/startup" name="myForm">
            <p id="error-msg"></p>
            <div id="simple-msg"></div>
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-2 mt-2">
                  <label class="form-label text-muted">Your Name</label>
                  <input
                    name="name"
                    id="name"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-2 mt-2">
                  <label class="form-label text-muted">Your Email</label>
                  <input
                    name="email"
                    id="email"
                    type="email"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="mb-2 mt-2">
                  <label class="form-label text-muted">Your Subject</label>
                  <input type="text" class="form-control" id="subject" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="mb-2 mt-2">
                  <label class="form-label text-muted">Your Massage</label>
                  <textarea
                    name="comments"
                    id="comments"
                    rows="5"
                    class="form-control"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-lg-12 text-right">
                <input
                  type="submit"
                  id="submit"
                  name="send"
                  class="submitBnt btn btn-primary"
                  value="Send Message"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END CONTACT -->
{% endblock %}
