{% extends 'base.html' %} {% block title %} Startup Application {% endblock %}
{% block content %}

<!-- Hero Start -->
<section class="bg-home section" id="home" style="background-color: #263b5e">
  <div class="home-overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h1 class="home-title mt-3 text-white">Startup application</h1>

        <p class="home-desc text-muted mt-3">
          Make it easy for investors to learn about your project
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Hero End -->

<section class="section" id="contact">
  <div class="container">
    <div class="row justify-content-center">
        <p>Startup submitted for review successfully</p>
        <p>We shall respond in 24hrs</p>
    </div>
  </div>
</section>
{% endblock %}
