<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="We help startups launch their products" />
    <meta
      name="keywords"
      content="startups, funding, launch, products, investors, speakers, partners, corporates"
    />
    <meta content="Max The Stranger" name="author" />
    <title>{% block title %}{% endblock %} - Ideas Kenya</title>
    <!-- bootstrap -->
    <link
      href="../static/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- icon -->
    <link
      href="../static/css/materialdesignicons.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="../static/css/style.min.css" rel="stylesheet" type="text/css" />
    <style>
      .form-select{
        border-color: #dfe9f1!important;
      }
      .form-select:focus{
        box-shadow: none!important;
        border-color: #dfe9f1!important;
      }
      input::placeholder{
        color: #c6d2db!important;
      }
    </style>
  </head>
  <body>
    <!-- navbar -->
    <!-- STRAT NAVBAR -->
    <div id="navbar">
      <nav
        class="
          navbar navbar-expand-lg navbar-dark
          fixed-top
          navbar-custom
          sticky sticky-dark
        "
        id="main-menu"
        style="border-bottom: 1px solid rgba(255, 255, 255, 0.15)"
      >
        <div class="container">
          <!-- LOGO -->
          <a
            class="navbar-brand logo text-uppercase"
            href="{{ url_for('index') }}"
          >
            <!-- <img
              src="../static/images/logo-light.png"
              class="logo-dark"
              alt="logo"
              height="24"
            /> -->
            <img
              src="../static/images/logo-dark.png"
              class="logo-dark"
              alt="logo"
              height="24"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="mdi mdi-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav navbar-center mx-auto" id="navbar-navlist">
              <li class="nav-item">
                <a data-scroll href="/#home" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a data-scroll href="/#services" class="nav-link"
                  >How it Works</a
                >
              </li>
              <li class="nav-item">
                <a data-scroll href="/#features" class="nav-link">Works</a>
              </li>
              <li class="nav-item">
                <a data-scroll href="/#testimonial" class="nav-link"
                  >Testimonial</a
                >
              </li>
              <li class="nav-item">
                <a data-scroll href="/#contact" class="nav-link">Contact</a>
              </li>
            </ul>
            <div class="nav-button">
              <ul class="list-inline nav-social d-none d-lg-inline-block mb-0">
                <li class="list-inline-item ps-1">
                  <a href="#"><i class="mdi mdi-facebook"></i></a>
                </li>
                <li class="list-inline-item ps-1">
                  <a href="#"><i class="mdi mdi-twitter"></i></a>
                </li>
                <li class="list-inline-item ps-1">
                  <a href="#"><i class="mdi mdi-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <!-- END NAVBAR -->

    <!-- content -->
    <main>{% block content %} {% endblock %}</main>

    <!-- footer -->
    <!-- START FOOTER -->
    <footer class="bg-footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="mt-4">
              <img src="../static/images/logo-dark.png" alt="" height="24" />
              <p class="text-muted mt-3 pt-1">
                Nowadays, thanks to technological and tools advancements, we are
                in the era of digital nomad – aka it is possible for
                entrepreneurs to work from anywhere or to relocate to the most
                unlikely places.
              </p>
              <div class="footer-social mt-4">
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a href="" class="text-reset"
                      ><i class="mdi mdi-facebook"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="" class="text-reset"
                      ><i class="mdi mdi-twitter"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="" class="text-reset"
                      ><i class="mdi mdi-google"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="" class="text-reset"
                      ><i class="mdi mdi-pinterest"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-7 offset-lg-1">
            <div class="row">
              <div class="col-lg-4">
                <div class="mt-4">
                  <h5 class="f-18">Support</h5>
                  <ul class="list-unstyled footer-link mt-3">
                    <li><a href="">Help Center</a></li>
                    <li><a href="">How Ideas Kenya Works</a></li>
                    <li><a href="">Success Stories</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="mt-4 ps-0 ps-lg-5">
                  <h5 class="f-18">More Info</h5>
                  <ul class="list-unstyled footer-link mt-3">
                    <li><a href="">About Us</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">For Startups</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mt-4 ps-0 ps-lg-5">
                  <h5 class="f-18">Resources</h5>
                  <ul class="list-unstyled footer-link mt-3">
                    <li><a href="">Newsletter</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Cookies Policy</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-lg-3">
            <div class="client-images mt-4">
              <img
                src="../static/images/clients/1.png"
                alt="logo-img"
                class="mx-auto img-fluid d-block"
              />
            </div>
          </div>
          <div class="col-lg-3">
            <div class="client-images mt-4">
              <img
                src="../static/images/clients/2.png"
                alt="logo-img"
                class="mx-auto img-fluid d-block"
              />
            </div>
          </div>
          <div class="col-lg-3">
            <div class="client-images mt-4">
              <img
                src="../static/images/clients/3.png"
                alt="logo-img"
                class="mx-auto img-fluid d-block"
              />
            </div>
          </div>
          <div class="col-lg-3">
            <div class="client-images mt-4">
              <img
                src="../static/images/clients/4.png"
                alt="logo-img"
                class="mx-auto img-fluid d-block"
              />
            </div>
          </div>
        </div>

        <hr class="mt-5" />
        <div class="row mt-4">
          <div class="col-lg-12">
            <p class="text-center text-muted mb-0" id="year"></p>
          </div>
        </div>
      </div>
    </footer>
    <!-- END FOOTER -->

    <!-- javascript -->
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/smooth-scroll.polyfills.min.js"></script>
    <script src="../static/js/gumshoe.polyfills.min.js"></script>
    <!-- unicons icon -->
    <script src="../static/js/unicons.js"></script>
    <!-- Contact Form  -->
    <script src="../static/js/app.js"></script>

    <!-- footer year-->
    <script>
      let year = new Date().getFullYear();
      year = document.querySelector(
        '#year'
      ).textContent = `${year} © Ideas Kenya. Made with 💖 in Nairobi`;
    </script>
  </body>
</html>
